{% extends 'entidades/index.html' %}

{% load static %}

{% block titulo %}
    <h1 class="text-white font-weight-bold">Lista de Clientes</h1>
{% endblock titulo %}

{% block contenido %}
    <h2>Lista de Clientes</h2>

    <p>
        <a href="{% url 'arreglatodo:cliente-crear' %}" class="btn btn-primary" >➕ Agregar Nuevo Cliente</a>
    </p>


    {% if not clientes %}
    <table>
        {{ mensaje }}
    </table>    
    {% else %}
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                    <td>{{ cliente.telefono|default:"N/A" }}</td>
                    <td>{{ cliente.email|default:"N/A" }}</td>
                    <td>
                        <a href="{% url 'arreglatodo:cliente-editar' pk=cliente.pk %}">Editar</a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock contenido %}
