{% extends 'entidades/index.html' %}

{% block titulo %}
<h1 class="text-white font-weight-bold">Sobre Mi</h1>
{% endblock titulo %}

{% block contenido %}
<div class="container mt-5">
    <h2>Mi Historia</h2>
    <p>
        Soy Celeste Segurado, Lic. en Ciencia Política. 
        Actualmente me encuentro estudiando la Diplomatura en Ciencia de Datos en CoderHouse.

        Tengo una larga trayectoria trabajando con políticas de empleo en la provincia de La Pampa.
        El diseño e implementación de pol. pùblicas requiere de la recopilación y análisis de datos para poder validar la viabilidad de las mismas.
        Por ello, decidí capacitarme en ciencia de datos para poder aportar mis conocimientos en el área.

        A la par, tengo una consultora en la que brindo asesoramiento a emprendedores en la elaboración de proyectos para la obtención de financiamiento público
        y estudios de mercado, así como también asesoro en pol. públicas a gobiernos locales, organizaciones de la sociedad civil.

        La idea de este proyecto surge por una necesidad concreta de un sector de la población: los trabajadores y trabajadoras de oficios.
        Muchas veces, estas personas no cuentan con una plataforma que les permita visibilizar sus servicios ni gestionar sus trabajos, por lo que este proyecto trata de dar respuesta a esa necesidad.

        En principio, la plataforma estará orientada a oficios relacionados con la construcción y reparaciones del hogar, pero en el futuro se espera poder ampliar la oferta de servicios.
        Si bien, por el momento sólo ofrece el servicio de gestionar clientes se busca que pronto pueda conectar a los trabajadores con potenciales clientes 
        y ofrecer herramientas para la gestión de los trabajos, como presupuestos, facturación y seguimiento de proyectos.
    </p>

    <h3>Misión</h3>
    <p>Texto de misión…</p>

    <h3>Visión</h3>
    <p>Texto de visión…</p>

    <h3>Valores</h3>
    <p>Texto de valores…</p>
</div>
{% endblock contenido %}