{% extends 'entidades/index.html' %}

{% load static %}

{% block titulo %}
    <h1 class="text-white font-weight-bold">Mi perfil</h1>
{% endblock titulo %}

{% block contenido %}
    <h2>Datos personales</h2>
    {% if usuario %}

        {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="Avatar" width="150" style="border-radius: 50%; margin-bottom: 20px;">
        {% else %}
            <img src="/media/avatars/default.png" alt="Avatar" width="150" style="border-radius: 50%; margin-bottom: 20px;">
        {% endif %}

        <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
        <p><strong>Apellido:</strong> {{ usuario.apellido }}</p>
        <p><strong>Email:</strong> {{ usuario.email }}</p>
        <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
        <p><strong>oficios:</strong> {{ usuario.oficio }}
            {% for oficio in usuario.oficios.all %}
            {{ oficio.nombre }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>

        <p><strong>Matrícula:</strong> {{ usuario.matricula }}</p>

        <a href="{% url 'arreglatodo:usuario-editar' pk=usuario.pk %}">Editar</a> |
        <p>
            {% if user.is_staff %}
            <a href="{% url 'arreglatodo:usuario-crear' %}" class="btn btn-primary" >➕ Agregar Nuevo Usuario</a>
            {% endif %}
        </p>

    {% else %}
        <h3>Datos de Usuario</h3>

        <p><strong>Nombre:</strong> {{ user.first_name }}</p>
        <p><strong>Apellido:</strong> {{ user.last_name }}</p>
        <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Teléfono:</strong> {{ user.profile.telefono }}</p>

        <a href="{% url 'arreglatodo:editar-perfil' %}" class="btn btn-warning">Editar mis datos personales</a>

    {% endif %}

{% endblock contenido %}
    